<div class="container" id="recipes-index" data-controller="recipe-selection">

  <div class="card-list-wrapper">
    <div class="card lists-container mt-4">
      <h4 class='text-center'>Mes recettes</h4>

      <p><% if @nb_of_meals_left > 1 %>
        <em>Choisissez <span data-recipe-selection-target="counter"><%= @nb_of_meals_left %> recettes</span></em>
      <% else %>
        <em>Choisissez <span data-recipe-selection-target="counter"><%= @nb_of_meals_left %> recette</span></em>
      <% end %></p>

      <div class="card-recipes-list" data-recipe-selection-target = "content">
        <% @recipes_lists.each do |association| %>
          <p><%= association.recipe.name %>
          <%= link_to recipes_list_path(association), method: :delete do %>
            <i class="fas fa-times"></i>
          <% end %>
          </p>
        <% end %>
      </div>
      <%= link_to 'Valider', batch_menu_path(@batch_menu), class: 'btn btn-back', style: 'color:white' %>
    </div>
  </div>

  <div class="cards">
    <% @recipes.each do |recipe| %>
      <div class="card-link card-link-infos">
          <% if recipe.photo.attached? %>
            <%= cl_image_tag recipe.photo.key %>
          <% end %>
          <span class="add-btn" data-action="click->recipe-selection#selectRecipe"
          data-id="<%= recipe.id %>"
          data-batch-id="<%= @batch_menu.id %>"
          data-meal="<%= @nb_of_meals %>">
            <i class="fas fa-plus-circle"></i>
          </span>
          <%# <button type="button" > %>
            <div class="description-name" data-bs-toggle="modal" data-bs-target="#recipeModal<%= recipe.id %>">
                <div class="promo-overlay">
                  <p><%=recipe.name %></p>
                </div>
            </div>
          <%# </button> %>
          <div class="modal fade show-modal" id="recipeModal<%= recipe.id %>"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" style="color:black; text-align:center;"><%= recipe.name %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= render 'show', recipe: recipe %>
                </div>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
