<div class="show-container">
    <div>
    <%= link_to recipes_path, :class=> "back-button" do %><i class="fas fa-arrow-left" aria-hidden="true" target="_blank"></i><% end %>
    </div>
  <div>
    <% if @recipe.photo.attached? %>
      <%= cl_image_tag @recipe.photo.key %>
    <% end %>
  </div>
  <div class="show-description">
    <h1>
    <%= @recipe.name %>
    </h1>
    <br>
    <h6><strong>
    <%= @recipe.description %>
    </strong></h6>
    <br>
    <h6><strong>Temps de préparation :</strong>
    <%= distance_of_time_in_words( Time.now, @recipe.prep_time.minutes.from_now ) %></h6>
    <%# <h6>Temps de cuisson : <%= @recipe.cook_time.strftime('%M min') %></h6>
    <div>
    <h6><strong>Etapes de préparation:</strong> </h6>
    <div>
      <ul>
        <% @recipe.preparation_steps.each do |step|%>
          <li>
            <%= step.content %>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
</div>
