<div class="shopping-list">
  <% shopping_list.each do |category, elements| %>
    <% if category == "Boucherie" %>
      <h3 class='text-center'><img src="https://images.emojiterra.com/google/noto-emoji/v2.028/128px/1f969.png" alt=""> <%= category %></h3>
    <% elsif category == "Boulangerie" %>
      <h3 class='text-center'><img src="https://images.emojiterra.com/google/noto-emoji/v2.028/128px/1f35e.png" alt=""> <%= category %></h3>
    <% elsif category == "Crèmerie" %>
      <h3 class='text-center'>🧀 <%= category %></h3>
    <% elsif category == "Épicerie" %>
      <h3 class='text-center'>🌶 <%= category %></h3>
    <% elsif category == "Fruits" %>
      <h3 class='text-center'>🍍 <%= category %></h3>
    <% elsif category == "Herbes" %>
      <h3 class='text-center'>🌿 <%= category %></h3>
    <% elsif category == "Légumes" %>
      <h3 class='text-center'>🥕 <%= category %></h3>
    <% elsif category == "Liquides" %>
      <h3 class='text-center'>🥛 <%= category %></h3>
    <% elsif category == "Pâtes" %>
      <h3 class='text-center'>🍝 <%= category %></h3>
    <% elsif category == "Poissonnerie" %>
      <h3 class='text-center'>🐟 <%= category %></h3>
    <% elsif category == "Rayon frais" %>
      <h3 class='text-center'>🥶 <%= category %></h3>
    <% else %>
      <h3 class='text-center'><%= category %></h3>
    <% end %>
      <ul>
        <% elements.each do |ingredient, details| %>
          <li style='list-style: none'>
          <% if details[:unit_category] == 'pincée' %>
            <p><strong><%= ingredient %></strong></p>
          <% elsif details[:unit_category] == 'pièce' %>
            <p><%= details[:quantity] %> <strong><%= ingredient%></strong></p>
          <% else %>
            <p><strong><%= ingredient %></strong>: <%= details[:quantity] %> <em><%= details[:unit_category] %></em></p>
          <% end %>
          </li>
        <% end %>
      </ul>
  <% end %>
</div>
