<div class="container">
  <h1><strong>Préparation de mon <%= @batch_menu.name %></strong></h1>
  <div class="prep_steps">
    <div class="card-step">
      <div class="step" style="width: 20%;">Etape 1</div>
      <% @batch_menu.prep_list.each do |action_verb, value| %>
        <% if action_verb == 'pre_heat' %>
          <div class="d-flex flex-column" style="width: 80%;">
            <% value.each do |recipe, prep_step| %>
            <ul>
              <li style="list-style:none;"><p><strong><%= recipe %></strong></p>
              <%= prep_step %></li>
            </ul>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="card-step">
      <div class="step" style="width: 20%;">Etape 2</div>
      <% @batch_menu.prep_list.each do |action_verb, value| %>
        <% if action_verb == 'prepare' %>
        <div class="d-flex flex-column" style="width: 80%;">
          <% value.each do |recipe, prep_step| %>
            <ul>
              <li style="list-style:none;"><p><strong><%= recipe %></strong></p>
              <%= prep_step %></li>
            </ul>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="card-step">
      <div class="step" style="width: 20%;">Etape 3</div>
      <% @batch_menu.prep_list.each do |action_verb, value| %>
        <% if action_verb == 'cut' %>
          <div class="d-flex flex-column" style="width: 80%;">
            <% value.each do |recipe, prep_step| %>
              <ul>
              <li style="list-style:none;"><p><strong><%= recipe %></strong></p>
              <%= prep_step %></li>
            </ul>
          <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="card-step">
      <div class="step" style="width: 20%;">Etape 4</div>
      <% @batch_menu.prep_list.each do |action_verb, value| %>
        <% if action_verb == 'mix' %>
          <div class="d-flex flex-column" style="width: 80%;">
            <% value.each do |recipe, prep_step| %>
              <ul>
              <li style="list-style:none;"><p><strong><%= recipe %></strong></p>
              <%= prep_step %></li>
            </ul>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="card-step">
      <div class="step" style="width: 20%;">Etape 5</div>
      <% @batch_menu.prep_list.each do |action_verb, value| %>
        <% if action_verb == 'pre_cook' %>
        <div class="d-flex flex-column" style="width: 80%;">
          <% value.each do |recipe, prep_step| %>
            <ul>
            <li style="list-style:none;"><p><strong><%= recipe %></strong></p>
            <%= prep_step %></li>
          </ul>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="card-step">
      <div class="step" style="width: 20%;">Etape 6</div>
      <% @batch_menu.prep_list.each do |action_verb, value| %>
        <% if action_verb == 'cook' %>
        <div class="d-flex flex-column" style="width: 80%;">
          <% value.each do |recipe, prep_step| %>
            <ul>
            <li style="list-style:none;"><p><strong><%= recipe %></strong></p>
            <%= prep_step %></li>
          </ul>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="card-step">
      <div class="step" style="width: 20%;">Etape 7</div>
      <% @batch_menu.prep_list.each do |action_verb, value| %>
        <% if action_verb == 'serve' %>
        <div class="d-flex flex-column" style="width: 80%;">
          <% value.each do |recipe, prep_step| %>
            <ul>
            <li style="list-style:none;"><p><strong><%= recipe %></strong></p>
            <%= prep_step %></li>
          </ul>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
