<body class='bg-white'>
  <div class="container">
    <div class="prep_steps">
      <h5 style='color:black;'><strong>Préparation de mon <%= @batch_menu.name %></strong></h5>
      <br/>


      <% ['pre_heat', 'prepare', 'cut', 'mix', 'pre_cook', 'cook', 'serve'].each_with_index do |verb, index| %>
        <div class="card-step">
          <div class="step-number"><h5><%= index + 1 %></h5></div>
          <% @batch_menu.prep_list.each do |action_verb, value| %>
            <% if action_verb == verb %>
              <div class="d-flex flex-column">
                <% value.each do |recipe, prep_step| %>
                <ul>
                  <li style="list-style:none;"><p class='light-green'><strong><%= recipe %></strong></p>
                  <p class='prep-description'><%= prep_step %></p></li>
                </ul>
                <% end %>
              </div>
            <% end %>
            <% end %>
        </div>

        <% if index < 6 %>
          <div class="separator"></div>
        <% end %>

      <% end %>

    <%= link_to 'Retour', batch_menu_path(@batch_menu), class:'btn btn-back' %>

    </div>
  </div>
</body>
