<body style="background-image: url('https://res.cloudinary.com/dodtdqhy0/image/upload/v1638185742/pexels-ray-piedra-1565982_cibgv1.jpg'); background-size: cover; background-position: center;">
  <div class="container d-flex justify-content-center align-items-center flex-column">
    <h5 class="mt-5" style='text-shadow: 0 0 15px black;'>Mes Menus</h5>
    <div class="d-flex flex-wrap justify-content-center align-items-center">
    <% @batch_menus.each do |menu| %>
      <% if !menu.recipes.nil? %>
        <div class="card-category">
          <%= link_to batch_menu_path(menu), method: :delete do %>
            <i class="fas fa-times cross"></i>
          <% end %>
          <%= link_to menu.name, batch_menu_path(menu), class:'to-show' %>
          <p class="nb-recipes">Contient <%= menu.recipes.count %> repas</p>
          <p class="creation-date">Créé le <%= menu.created_at.strftime('%d/%m/%Y') %></p>
        </div>
      <% end %>
  <% end %>
  </div>
  <%= link_to 'Créer un nouveau menu', new_batch_menu_path, class:'btn btn-back mt-3'  %>
  </div>
</body>
