  <div class="batch-new-container">
    <%= simple_form_for(@batch_menu) do |f| %>
      <div class="form-center">
        <%= f.input :name, label: 'Nom du menu' %>
        <%= f.input :nb_of_people, as: :range, label: 'Nombre de personnes', class:"custom-range",
        input_html: { min:1, max:4, value: 1, oninput: "document.querySelector('#count').innerHTML = this.value;" }  %>
        <span id='count'>1</span>
      </div>
      <div>
        <div id="nb-of-meals">
          <h4 style="font-family: 'Pacifico', cursive;">Vous préparez un menu pour :</h4>
        </div>
        <div class="meal-time-wrapper">
          <% days = {
            lundi: "monday",
            mardi: "tuesday",
            mercredi: "wednesday",
            jeudi: "thursday",
            vendredi: "friday",
            samedi: "saturday",
            dimanche: "sunday"
          } %>
          <% days.each do |k, v| %>
            <div>
              <h6><%= k %></h6>
              <%= f.input "#{v}_lunch".to_sym,  label: 'midi', input_html: { class: 'd-none calendar-input' } %>
              <%= f.input "#{v}_dinner".to_sym, label: 'soir',    input_html: { class: 'd-none calendar-input' } %>
            </div>
          <% end %>
        </div>
        <div class="valid-batch">
          <%= f.button :button, "GO !", type: :submit, class: 'btn btn-home' %>
        </div>
      </div>
    <% end %>
  </div>
