  <%= simple_form_for(@batch_menu) do |f| %>
    <div>
      <%= f.input :nb_of_people, label: 'How many people will experience your top chef skills?'  %>
    </div>
      <div id="nb-of-meals">
        </h2> Select how many meals you want to batch cook !<h2>
      </div>
    <div class="meal-time-wrapper">
      <div>
        <%= f.input :monday_lunch %>
        <%= f.input :monday_dinner %>
      </div>
      <div>
        <%= f.input :tuesday_lunch %>
        <%= f.input :tuesday_dinner %>
      </div>
      <div>
        <%= f.input :wednesday_lunch %>
        <%= f.input :wednesday_dinner %>
      </div>
      <div>
        <%= f.input :thursday_lunch %>
        <%= f.input :thursday_dinner %>
      </div>
      <div>
        <%= f.input :friday_lunch %>
        <%= f.input :friday_dinner %>
      </div>
      <div>
        <%= f.input :saturday_lunch %>
        <%= f.input :saturday_dinner %>
      </div>
      <div>
        <%= f.input :sunday_lunch %>
        <%= f.input :sunday_dinner %>
      </div>
    </div>
    <div class="valid-batch">
    <%= f.submit "GO !", class: 'btn btn-flat', id:'go-button' %>
    </div>
  <% end %>
