

<%= @batch_menu.name %>

<div class="calendar">
  <div style='grid-column: 1'>Lundi</div>
  <div style='grid-column: 2'>Mardi</div>
  <div style='grid-column: 3'>Mercredi</div>
  <div style='grid-column: 4'>Jeudi</div>
  <div style='grid-column: 5'>Vendredi</div>
  <div style='grid-column: 6'>Samedi</div>
  <div style='grid-column: 7'>Dimanche</div>
  <% @meals.each do |meal| %>
    <div class="day" style='grid-row:<%=meal.calendar_row%>; grid-column:<%=meal.calendar_column%>;'>
      <%= cl_image_tag meal.recipe.photo.key, width:200 %>
    </div>
  <% end %>
</div>

<button type="button" class="btn btn-home" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Courses
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:black; text-align:center;">Mes courses</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'batch_menus/shopping_list', shopping_list: @batch_menu.shopping_list %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Cuisinez!', associate_prep_steps_batch_menu_path(@batch_menu), class:'btn btn-home' %>
